/* https://material.io/guidelines/style/color.html#color-color-palette */

.Navbar {
  background-color: #CFD8DC;
  font-size: 20px;
}

.Navbar ul {
  list-style-type: none;
  display:inline-block;
}

.Navbar li {
}

.Navbar a:link, a:visited {
  text-decoration: none;
  color: #0277BD;
}

.Navbar a:hover {
  color: #37474F;
}

.submit-button {
  padding: 5px;
  color: #CFD8DC;
  background: #0277BD;
  border: 2px solid #607D8B;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.submit-button:hover {
  background-color: #B0BEC5;
  border: 2px solid #607D8B;
  color: #37474F;
  cursor: pointer;
  margin: 0px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.text-input {
  padding: 5px;
  border: 2px solid #607D8B;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
