/* https://material.io/guidelines/style/color.html#color-color-palette */

.Navbar {
  background-color: #546E7A;
  font-size: 20px;
}

.Navbar ul {
  list-style-type: none;
  display:inline-block;
}

.Navbar li {
}

.Navbar a:link, a:visited {
  text-decoration: none;
  color: #ECEFF1;
}

.Navbar a:hover {
  color: #263238;
}

button {
  background-color: #ECEFF1;
  border-radius: 5px;
  border: 2px solid #263238;
  font-size: 20px;
}

button:hover {
  background-color: #263238;
  border: 2px solid #ECEFF1;
  color: #ECEFF1;
  cursor: pointer;
}
